In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


# conditions and preferences

%matplotlib inline
sns.set_style('darkgrid')
pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv('data\kc_house_data.csv', parse_dates=['date'])

In [8]:
df.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
3927,3592500985,2015-05-04,880000.0,4,2.50,2350,4675,2.0,NO,NONE,Average,9 Better,2150,200.0,1923,0.0,98112,47.6344,-122.305,2240,3848
8335,3888100043,2014-05-07,350000.0,3,1.00,1010,9360,1.0,NO,NONE,Average,6 Low Average,1010,0.0,1981,0.0,98033,47.6874,-122.168,1470,9360
4882,1331900020,2014-09-25,930000.0,3,2.50,3780,35273,1.5,NO,NONE,Average,10 Very Good,3780,0.0,1986,0.0,98072,47.7499,-122.119,3450,35273
9532,5423010180,2014-07-24,825000.0,4,2.25,2770,9340,2.0,NO,NONE,Good,9 Better,2770,0.0,1979,0.0,98027,47.5628,-122.081,3010,9340
7704,9808640090,2015-03-19,815000.0,3,2.50,2415,2186,2.0,NO,FAIR,Average,9 Better,2415,0.0,1981,0.0,98033,47.6506,-122.202,2660,2165

In [6]:
# the number of Columns
for column in df.columns:
    print(column)

id
date
price
bedrooms
bathrooms
sqft_living
sqft_lot
floors
waterfront
view
condition
grade
sqft_above
sqft_basement
yr_built
yr_renovated
zipcode
lat
long
sqft_living15
sqft_lot15

In [9]:
df.corr()['price']

C:\Users\Administrator\AppData\Local\Temp\ipykernel_23200\441180871.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['price']

id              -0.016772
price            1.000000
bedrooms         0.308787
bathrooms        0.525906
sqft_living      0.701917
sqft_lot         0.089876
floors           0.256804
sqft_above       0.605368
yr_built         0.053953
yr_renovated     0.129599
zipcode         -0.053402
lat              0.306692
long             0.022036
sqft_living15    0.585241
sqft_lot15       0.082845
Name: price, dtype: float64

In [11]:
df['floors'].value_counts()

1.0    10673
2.0     8235
1.5     1910
3.0      611
2.5      161
3.5        7
Name: floors, dtype: int64